$color-1: #1a1a1a;
$color-2: #3a3a3a;
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: $color-1;
}

.container {
    width: 100%;
    height: 100vh;
    background-color: $color-1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    width: 40rem;
}

.card-bio {
    background-color: #050a28;
    padding: 3rem 3rem 8rem 3rem;
    display: flex;
    border-radius: 0.5rem 0.5rem 0 0;
    position: relative;
    color: white;
    z-index: 100;
}

.img-wrapper {
    width: 9rem;
    height: 9rem;
    margin-right: 3rem;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 50%;
    }
}

.person-info {
    width: 60%;
    color: white;
    text-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.3);

    h3 {
        font-weight: 300;
        font-size: 2.5rem;
        letter-spacing: 0.1rem;
        margin-bottom: 1rem;
    }

    p {
        font-size: 1.8rem;
    }
}

.card-btn {
    position: absolute;
    bottom: -2.5rem;
    right: 10rem;
    width: 20rem;
    height: 6rem;
    background-color: $color-2;
    color: white;
    font-weight: 600;
    border-radius: 5rem;
    border: none;
    font-size: 2.4rem;
    text-transform: uppercase;
    box-shadow: 0 0.3rem 0.8rem rgba(0, 0, 0, 0.3);
    outline: none;
    cursor: pointer;

    i {
        opacity: 0;
        visibility: hidden;
    }
}

.change .card-btn {
    width: 6rem;
    right: 3rem;
    bottom: -3rem;
    border-radius: 50%;
}

.card-btn-contact,
.card-btn i {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.change .card-btn-contact {
    opacity: 0;
    visibility: 0;
}

.change .card-btn i {
    opacity: 1;
    visibility: visible;
}

.card-contact {
    background-color: #151a3d;
    color: white;
    padding: 1.5rem 2rem;
    border-radius: 0 0 0.5rem 0.5rem;
    transform: translateY(-100%);
    transition: all 0.5s;

    h4 {
        font-weight: 400;
        font-size: 1.8rem;
        text-transform: uppercase;
        letter-spacing: 0.1rem;
        text-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.3);
        transform: scale(0);
        transform-origin: left;
        transition: all 0.5s;
    }
}

.change .card-contact {
    transform: translateY(0);

    h4 {
        transform: scale(1);
    }
}

.change .card-social {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
}
.email {
    transition: all 0.5s 0.3s;
}
.git {
    transition: all 0.5s 0.53s;
}
.linkedin {
    transition: all 0.5s 0.7s;
}

.card-social {
    background-color: #ddd;
    padding: 1.5rem;
    margin: 2rem 0;
    border-radius: 0.3rem;
    display: flex;
    align-items: center;
    cursor: pointer;
    transform: translateY(-50%);
    opacity: 0;
    visibility: hidden;

    span {
        margin-left: auto;
        font-size: 2rem;
        font-weight: bold;
        color: #999;
    }
}

.icon-wrapper {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 2rem;

    i {
        font-size: 2rem;
        color: white;
    }
}

.contact-details {
    h4 {
        font-size: 1.6rem;
        letter-spacing: 0.1rem;
        margin-bottom: 0.5rem;
    }

    p {
        font-size: 1.4rem;
        color: #444;
        letter-spacing: 0.1rem;
    }
}

.email .icon-wrapper {
    background-color: #dd4b39;
}
.git .icon-wrapper {
    background-color: #22272e;
}
.linkedin .icon-wrapper {
    background-color: #007bb6;
}

.email h4 {
    color: #dd4b39;
}
.git h4 {
    color: #22272e;
}
.linkedin h4 {
    color: #007bb6;
}
